html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

.bus {
    padding: 0.6vh 2vh;
    font-size: xx-large;
    margin: 1vh;
    display: flex;
    background-color: rgb(60, 56, 56);
    /* background-color: rgb(146, 88, 32); */
}

.bus > * {
    width: fit-content;
    margin: 0;
}

.info > * {
    width: fit-content;
    margin: 0;
}

.info {
    align-items: center;
    justify-content: center;
    display: flex;
}

@font-face {
    font-family: "dots"; /*a name to be used later*/
    src: url("../assets/dots.ttf"); /*URL to font*/
}

.time,
.info {
    display: flex;
    font-family: "dots";
    margin-left: 2vw;
    font-weight: 100;
    color: orange;

    font-size: 2.8vw;
}

@media (min-width: 1700px) {
    .time,
    .info {
        display: flex;
        font-family: "dots";
        margin-left: 2vw;
        font-weight: 100;
        color: orange;

        font-size: 2.5vw;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(60, 56, 56) !important;
}

.small {
    padding: 2vh 10vw;
    width: 300;
    height: 300;
    font-size: 4px;
}
